h1 {
    margin-bottom: 30px;
  }
  input[type="text"] {
    width: 200px;
    float: left;
  }
  .narrow-button {
    float: left;
    margin-left: 10px;
  }
  
  .result {
    float: left;
    clear: left;
  }
  
  h2 {
    color: red;
    display: none;
  }style.css
 
  *{
      margin: 0;
      padding: 0;
      
  }
  .navbar{
  
  border: none;
  background-color: black;
  color: #61122F;
  }
  body{
      background-color: #61122F;
      color: white;
  }
  .glyphicon{
      font-size: 30px;
      color:#61122F; 
  }
  
  .center{
      width: 90%;
      background-color: grey;
  
  }
  .container
  {
      background-color: grey;
  }
  .text-center{
      font-size: 30px;
  }
  
  h2{
      text-align: center;
  }
  #myNavbar ul li a {
      color: #61122F;
  }
  .navbar-brand{
  font-size: 30px;	
  }

  .nav navbar-nav navbar-right {
      margin: 0 auto;
  }